In [1]:
import pandas as pd

df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
                   'B':[1,2,3,4,5,6],
                   'C':[2.0, 3.0, 4.0, 5.0, 6.0, 7.0]})

In [ ]:
grouped = df.groupby('A').agg({'B': 'sum', 'C': 'mean'})
print(grouped)

      B    C
A
bar  12  5.0
foo   9  4.0

In [7]:
pivot = df.pivot_table(values= 'B', index='A', aggfunc='sum', columns='C')
print(pivot)

C    2.0  3.0  4.0  5.0  6.0  7.0
A
bar  NaN  2.0  NaN  4.0  NaN  6.0
foo  1.0  NaN  3.0  NaN  5.0  NaN

In [9]:
dates = pd.date_range('20230101', periods=6)
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
ts = pd.Series(range(6), index=dates)
print(ts)

2023-01-01    0
2023-01-02    1
2023-01-03    2
2023-01-04    3
2023-01-05    4
2023-01-06    5
Freq: D, dtype: int64

In [13]:
resampled = ts.resample('4D').sum()
print(resampled)

2023-01-01    6
2023-01-05    9
Freq: 4D, dtype: int64